html {
    width: 100%;
    height: 100%;
    background: #242729;
}

div {
    color: white;
    font-family: Arial;
}

.title {
    text-align: center;
    font-size: 24px;
}

.hbox {
    display: flex;
    flex-direction: row;
    width: auto;
}

.vbox {
    display: flex;
    flex-direction: column;
    height: auto;
}

.content-container {
    flex: 1;
    margin: 4px;
    width: 30vw;
}

.content-container h2 {
    font-size: 24px;
    font-weight: normal;
    text-decoration: underline;
}

.resume {
    flex: 1;
    width: auto;
    margin: 0px 4px;
    margin-top: 10px;
}

.project-container {
    margin: 4px;
    margin-top: 42px;
    width: 30vw;
    height: 90vh;
    background-color: #525659;
}

.project-container h1 {
    display: flex;
    height: 58px;
    margin: 0px;
    font-size: 24px;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    background-color: #323639;
}

.project-wrapper {
    margin: 6px;
    padding: 0px;
    font-family: "Consolas";
    color: black;
    background-color: transparent;
    box-shadow: 0px 0px 8px #0009;;
}

.project-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 3px;
    height: auto;
    width: auto;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
}

.project-wrapper iframe {
    display: block;
    width: 100%;
    height: 25vh;
    margin: 0px;
    padding: 0px;
}
